@font-face {
    font-family: MonoManiac;
    src: url('../assets/fonts/Monomaniac_One/MonomaniacOne-Regular.ttf') format('truetype');
}

*{
    color: white;
    font-family:monoManiac;
}

body{
    background-color: #0d1117;
}

h1 {
    padding-bottom:-10vh;
    padding-top:0vh;
    font-size: 10vw;
}

p {
    font-size: 3vw;
    text-align: end;
    margin-right: 6vw;
}

button {
    background: transparent;
    border: none;
}

button:hover{
    transform: scale(1.1);
    transition: all 0.3s ease; 
}

#upper-header {
    margin-left:4vw;
    margin-bottom:-5vh;
    margin-top:12vh;
}

#lower-header {
    margin-left:12vw;
    margin-top:-5vh;
    margin-bottom: -2vh;
}

#button-row {
    text-align: end;
    margin-right: 6vw;
}

.icon {
    width: 3vw;
    height: 3vw;
}




