@import url("../assets/libraries/theme.css");

#bigText {
  font-size: 6rem;
  padding: 0;
  grid-column: span 2;
  grid-row: 1;
}

h1 {
  margin: 0;
  padding: 0;
}

#flavortext {
  grid-column: 3;
  grid-row: 2 / 3;
  font-size: 2rem;
}

#scrollprompt {
  grid-column: 2;
  grid-row: 3;
  text-align: center;
}

.scrolltext {
  font-size: 1rem;
  padding: 0;
  margin-top: 1.8rem;
  margin-bottom: -2.2rem;
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
}

#topgridcontainer {
  position: fixed;
  display: grid;
  grid-template-columns: 40vw 20vw 40vw;
  grid-template-rows: 80vh 10vh 10vh;
  top: 0;
  z-index: 10;
  background-color: #89bfee;
  box-shadow: 0 6vh 40px rgba(0,0,0,0.1);
}

.griditem {
  padding: 0;
  margin: 0;
  justify-self: center;
}

#bottomgridcontainer {
  display: grid;
  grid-template-columns: 40vw 60vw;
  grid-template-rows: 10vh 20vh 40vh 30vh;
  position: relative;
  z-index: 0;
  transition: top 1s ease-in-out; /* Optional fallback for non-JS users */
}

#headermenucontainer {
  grid-column: span 2;
}

.scrollcontainer {
  height: 100vh;
}

.scrollitem {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}
