@font-face {
    font-family: MonoManiac;
    src: url('../fonts/Monomaniac_One/MonomaniacOne-Regular.ttf') format('truetype');
}

*{
    color: white;
    font-family:monoManiac;
}

body{
    background-color: #0d1117;
}
