@font-face {
  font-family: MonoManiac;
  src: url("../fonts/Monomaniac_One/MonomaniacOne-Regular.ttf")
    format("truetype");
}

* {
  color: #310c65;
  font-family: monoManiac;
}

body {
  background-color: #89bfee;
}
