@font-face {
  font-family: MonoManiac;
  src: url("../fonts/Monomaniac_One/MonomaniacOne-Regular.ttf")
    format("truetype");
}

* {
  color: #fc8ce0;
  font-family: monoManiac;
}

body {
  background-color: #092549;
}
